<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Ibero</span></div>
        <form [formGroup]="form">
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Email" formControlName="email">
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password">
          </div>
          <div class="row button">
            <button [disabled]="!form.valid" (click)="submit()">LOGIN</button>
          </div>
          <div class="signup-link">¿No eres miembro? <a [routerLink]="['/registro']">Registrese</a></div>
        </form>
      </div>
    </div>

  </body>
</html>